.realEstateCard{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    .imageContainer{
        max-width: 387px;
        width: 30%;
        border-radius: 5px;
        position: relative;
    }
    img{
        width: 100%;
    }
    .textContainer{
        display: flex;
        gap: 7px;
        position: absolute;
        top: 14px;
        left: 14px;
        span{
            padding: 6px 7px 5px 6px;
        }
        p{
            padding: 6px 12px;
        }
        span , p{
            font-size: 12px;
            color: #FFFFFF;
            background: #22222266;
            border: 1px solid #FFFFFF;
            border-radius: 5px;
        }
    }
}




@media screen and (max-width : 992px){
    .realEstateCard{
        flex-direction: column;
        align-items: center;
        gap: 20px; 
        .imageContainer{
            max-width: 350px;
            width: 100%;
        }
    }
}