.sectionsHead{
    padding-bottom: 56px;
    h1{
        font-size: 39px;
    }
    span{
        padding-top: 5px;
        font-size: 15px;
    }
}


@media screen and (max-width : 992px){
    .sectionsHead{
        padding-bottom: 42px;
        h1{
            font-size: 30px;
        }
        span{
            max-width: 355px;
            padding-top: 6px;
        }
    }
}