.howItWorks{
    .cardsContainer{
        display: flex;
        justify-content: space-around;
        gap: 40px;
    }
}



@media screen and (max-width : 992px){
    .howItWorks{
        .cardsContainer{
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
}